# Python byproducts
__pycache__/

# Mainly for launch.json, which contains API keys that should not be leaked
.vscode/

# Python Virtual Environment
venv/

# manim media output
media/

# cProfile output
*.prof